@import url('../../variables.scss');
.header-wrap {
    background-color: var(--primary-blue);
    color: var(--white);
    font-size: 20px;
}

.spacing-mr {
    margin-right: 10px;
}

.percent-logo {
    background-color: var(--secondary-blue);
    width: 40px;
    height: 38.67px;
    border-radius: 7px;
    color: var(--white);
}

.percent-option {
    width: 127px;
    cursor: pointer;
}

.option-active {
    background: linear-gradient(180deg, #0060A5 0%, #0076CB 100%);
    padding: 17px 13px;
}

.link-option {
    border-radius: 5px;
    padding: 5px 13px;
    background-color: var(--white);
    color: var(--primary-blue);
    font-weight: 600;
}