<div class="header-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-6 d-flex align-items-center">

                <div class="percent-logo d-flex align-items-center justify-content-center spacing-mr">
                    <span class="material-symbols-outlined bold">
                      percent
                      </span>
                </div>
                <div class="percent-option d-flex align-items-center justify-content-center" [routerLink]="['/calculator']" routerLinkActive="option-active">Calculator</div>
                <div class="percent-option d-flex align-items-center justify-content-center" [routerLink]="['/explanation']" routerLinkActive="option-active">Explanation</div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-center">
                <div class="percent-option d-flex align-items-center justify-content-center spacing-mr" [routerLink]="['/aboutus']" routerLinkActive="option-active">About Us</div>
                <a class=" percent-option link-option d-flex align-items-center justify-content-center" target="_blank" href="https://github.com/Aishvarya0510/percentage-calculator-angular/tree/master/percentage-app">GitHub</a>
            </div>
        </div>
    </div>
</div>