<div class="header-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 d-flex align-items-center">

                <div class="percent-logo d-flex align-items-center justify-content-center">
                    <span class="material-symbols-outlined">
                      percent
                      </span>
                </div>
                <div class="percent-option" [routerLink]="['/calculator']">Calculator</div>
                <div class="percent-option" [routerLink]="['/explanation']">Explanation</div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
                <div class="percent-option" [routerLink]="['/aboutus']">About Us</div>
                <div class=" percent-option link-option d-flex align-items-center justify-content-center ">GitHub</div>
            </div>
        </div>
    </div>
</div>